/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
 margin:0;
 padding:0;
 border:0;
 outline:0;
 font-size:100%;
 vertical-align:baseline;
 background:transparent;
}

body {
 line-height:1;

}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
 display:block;
}

nav ul {
 list-style:none;
}

blockquote, q {
 quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
 content:'';
 content:none;
}

a {
 margin:0;
 padding:0;
 font-size:100%;
 vertical-align:baseline;
 background:transparent;
}

/* change colours to suit your needs */
ins {
 color:#0d47a1;
 text-decoration:none;
}

/* change colours to suit your needs */
mark {
 background-color:#ff9;
 color:#000; 
 font-style:italic;
 font-weight:bold;
}

del {
 text-decoration: line-through;
}

abbr[title], dfn[title] {
 border-bottom:1px dotted;
 cursor:help;
}

table {
 border-collapse:collapse;
 border-spacing:0;
}

/* change border colour to suit your needs */
hr {
 display:block;
 height:1px;
 border:0; 
 border-top:1px solid #cccccc;
 margin:1em 0;
 padding:0;
}

input, select {
 vertical-align:middle;
}

/*My Code*/

#wrapper{
	background-color: #ffffff;
	height: auto;
}
header{
	overflow: hidden;
	/*background: linear-gradient(#e0e0e0, #fafafa,#fafafa, #e0e0e0);*/
}

.headright{
	float: right;
	position: absolute;
	top: 3%;
	left: 550px; /*rem to return to 45% incase of abnormalities*/
}
.headright p{
	font-family: Georgia;

}

.headicon{
	float: right;
	position: absolute;
	top: 9%;
	left: 1200px;
}

.headicon ul li  {
	display: inline-block;
	text-decoration: none;
}

.navbar	{
	clear: both; 
 	font-size: 20px; 
	background-color: #000000;
	overflow: hidden;
	
 }

.navbar ul	{ 
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30%;
}

.navbar ul li	{
	
	display: inline-block; 

}

.navbar	ul li a {
	text-decoration: none;
	font-family: Georgia;
	font-size: 25px;

}
.navbar a:link	    {	
    display: inline-block;
    padding: 7px 20px;
    text-align: center;
}
.navbar a:visited	{	
    display: inline-block;
    text-align: center;
}
.navbar a:hover	{	
	
}

.navbar ul li a:active	{	
	
}

body{
	
	/*background: linear-gradient(#263238, #ffffff);*/
	height: 100%;
}
html{
	height: 100%;
	overflow-x: hidden;
}

h4{
	color:#000000; 
	font-size: 30px;
	text-align: center;
	padding-top: 1%;
	font-family: Georgia;
}
h5{
	font-family: Georgia;
	color: #0d47a1;
}
p{
	color: #000000;
	font-size: 20px;
	line-height: 1.8em;
	font-family: Georgia;

}
label{
	font-family: Georgia;
	font-size: 17px;

}

button{

	color: #000000;
	background-color: #ccc;
	padding: 5px;
	font-size: 25px;
	border-radius: 5px;
	font-family: Gergia;
}

#services h4 hr{
	margin: 10px;
}

/*.projects h4 hr{
	margin: 10px;
}
.projects p{
	padding: 3%;
	text-align: justify;
}*/
footer{
	padding: 10px;
	background-color: #212121;
	clear: both;/*this line stops the footer from expanding upwards*/
	font-family: Georgia;	
}
.mid img{
	padding: 1%;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin: 1%;
	height: 450px;
	display: block;
	width: 98%;
}

/*styles for services*/
.container_serv > div {
  
  font-size: 20px;
  margin-left: 60px;
  margin-right: 40px;
  padding: 20px;
  width: 340px;
  line-height: 1.8em;

}
.container_serv h5{
	text-align: center;
	font-size: 25px;
	color: #0d47a1;
}
.container_serv {
  display: flex;
  flex-wrap: wrap;
}

/*style for footer*/
.container-fluid p{
	color: white;
	text-align: left;
}
.container-fluid{
	margin-left: 1%;
}
.container-fluid ul li {
	display: inline-block;

}
.container-fluid h5{
	color:  #ff9800;
	font-size: 20px;
	text-align: left;
}
.footer-copyright{
	color:  #ff9800;
	font-size: 20px;
}

/*styling for the icons*/
.list-unstyled{
	text-align: left;

}
/*responsive floats for the nav*/
@media (max-width: 768px) {
  /*.one {
    float: right;
  }*/
}
.affix {
      top: 0;
      width: 100%;
      z-index: 9999 !important;
  }

  .affix + .container-fluid {
      padding-top: 70px;
  }

  /*styles for logo*/
div.headleft {
	padding-left: 3%;
	
}

/*style for hiding content past a certain width*/
@media screen and (min-width: 1300px) {
  div.headright {
    display: ;
  }
}

@media screen and (max-width: 1200px) {
  div.headright {
    display: none;
  }
}
@media screen and (max-width: 1200px){
	div.headicon{
		display: none;
	}
}
/*style for the logo*/
@media screen and (max-width: 499px){
	div.headleft{
		align-content: center;	}
}
/*style for nav*/
@media screen and (max-width: 499px){
	.navbar{
		padding-left: 10%;	}
}
@media screen and (max-width: 499px){
	.navbar a:link{
		padding: 2px 15px;	}
}

/*styles for index middle section*/
.row{
  padding: 2%; /*comment out later for settings in contrast with contact2*/
  margin-left: 6%;
  margin-right: 6%;
}
.col-lg-8{
    text-align: justify;
}
.col-lg-8 h5{
  text-align: center;
  font-size: 25px;
  color: #0d47a1;
}

.col-lg-4  {
  text-align: justify;
}

.col-lg-4 h5{
  text-align: center;
  font-size: 25px;
  color: #0d47a1;
}
.col-lg-4 p{
	font-size: 20px;
}

/*styles for contact.html*/
.col-sm-4 h5{
	font-size: 20px;
}

/*styles for about html*/

.col-lg-6{
  font-size: 20px;
  text-align: justify;
}


.col-lg-6 h5{
  text-align: left;
  font-size: 25px;
  color: #0d47a1;
}

